.DS_Store
/attachments/*
!/attachments/index.php
/configs/*
!/configs/index.php
!/configs/init.config.php
/emoticons/*
!/emoticons/index.php
!/emoticons/default
/plugins/*
!/plugins/index.php
/templets/*
!/templets/default
!/templets/index.php
Minitalk.preset.php
/server