<IfModule mod_rewrite.c>
	<IfModule mod_negotiation.c>
		Options -MultiViews
	</IfModule>
	
	RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^admin/([^\/]+)/?$ admin/index.php?menu=$1 [L]
	
	RewriteRule ^api/index.php$ api/index.php?%{QUERY_STRING} [L]
	RewriteRule ^api/([^\/]+)$ api/index.php?api=$1&idx=$2&%{QUERY_STRING} [L]
	RewriteRule ^api/([^\/]+)/?([^\/]+)?$ api/index.php?api=$1&idx=$2&%{QUERY_STRING} [L]
	
	RewriteRule ^process/([^\/]+)$ process/index.php?action=$1&%{QUERY_STRING} [L]
	RewriteRule ^process/attachment/(.*)$ process/index.php?action=attachment&extras=$1%{QUERY_STRING} [L]
</IfModule>