php_value  display_errors  true

<LimitExcept GET POST PUT DELETE OPTIONS>
	Order Allow,Deny
	Deny from all
</LimitExcept>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^admin/([^\/]+)/?$ admin/index.php?menu=$1 [L]

RewriteRule ^api/([^/\.]+)$ api/index.php?api=$1&idx=$2&%{QUERY_STRING} [L]
RewriteRule ^api/([^/\.]+)/?([^/\.]+)?$ api/index.php?api=$1&idx=$2&%{QUERY_STRING} [L]

RewriteRule ^process/([^/]+)$ process/index.php?action=$1&%{QUERY_STRING} [L]
RewriteRule ^process/([^/]+)/?(.*?)?$ process/index.php?action=$1&extras=$2&%{QUERY_STRING} [L]