/*********************************************************************************************
 * 스타일 수정시 주의사항
 * 클래스명 수정금지
 ********************************************************************************************/

* {font-family:"Apple SD Gothic Neo","malgun gothic","nanumgothic"; font-size:12px; -ms-user-select:none; -moz-user-select:none; -webkit-user-select:none;}
INPUT {-ms-user-select:text; -moz-user-select:text; -webkit-user-select:text;}

/* 로딩레이어 */
.loading {width:100%; height:100%; background:#ffffff url(./images/loading.gif) no-repeat 50% 50%; position:absolute; top:0px; left:0px; z-index:10000;}

/* 액션 레이어 */
.alertLayer {position:absolute; top:26px; left:0px; width:100%; z-index:5001;}
.alertLayer DIV {line-height:1.5; margin:0px 1px 0px 1px; background:#f4f4f4; color:#000000; padding:5px; cursor:pointer; border-bottom:1px solid #cccccc;}
.alertLayer .invite {background:#ffffea; color:#c10000; border-bottom:1px solid #cccccc;}
.alertLayer .notice {background:#ffc4c4; color:#960000; border-bottom:1px solid #ffb8b8;}

/* 유저정보 레이어 */
.userInfoLayer {position:absolute; z-index:10001; top:22px; right:4px; width:150px; border:2px solid #2F2F2F; padding:3px; background:#ffffff; display:none;}
.userInfoLayer .userInfoNickname {border:1px solid #cccccc; padding:3px; width:142px; height:16px; outline:none; margin-bottom:2px;}
.userInfoLayer .userInfoStatus {width:148px; height:22px; border:1px solid #cccccc; position:relative; background:transparent; font-size:0px; position:relative; margin-bottom:2px;}
.userInfoLayer .userInfoStatusBox {cursor:pointer;}
.userInfoLayer .userInfoStatusIcon {background-repeat:no-repeat; background-position:3px 50%; width:22px; height:22px; float:left;}
.userInfoLayer .userInfoStatusText {width:105px; height:22px; float:right; background:#ffffff url(./images/btn_arrow.gif) no-repeat right 0px; padding-right:21px; font-size:12px; line-height:22px; overflow:hidden;}
.userInfoLayer .userInfoStatusList {position:absolute; background:#ffffff; border:1px solid #cccccc; top:22px; left:-1px; width:148px; z-index:10002; display:none;}
.userInfoLayer .userInfoStatusList UL {list-style:none; padding:0px; margin:0px;}
.userInfoLayer .userInfoStatusList UL LI {font-size:12px; cursor:pointer; background-repeat:no-repeat; background-position:3px 2px; height:20px; line-height:20px; padding-left:22px;}
.userInfoLayer .userInfoStatusList UL LI.mouseover {background-color:#f4f4f4;}
.userInfoLayer .userInfoButton {width:150px; height:22px; border:0px; outline:none; background:url(./images/btn_button.gif) no-repeat 0 0; display:block; cursor:pointer;}

/* 유저메뉴 */
.userMenu {position:absolute; z-index:10001; width:140px; top:0px; left:0px; background:#F0F0F0; border:1px solid #718BB7; display:none;}
.userMenu DIV.nickname {border:1px solid #99BBE8; padding:4px 4px 4px 24px; background-position:3px 50%; background-repeat:no-repeat; background-color:#D6E3F2; font-weight:bold; color:#15428B; margin:1px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.userMenu .list {overflow:hidden; padding:1px;}
.userMenu DIV.menu {border:1px solid #F0F0F0; padding:4px 4px 4px 24px; background-position:3px 50%; background-repeat:no-repeat; background-color:#F0F0F0; cursor:pointer; height:16px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.userMenu DIV.mouseover {background-color:#DFE8F6; border:1px solid #A3BAE9;}

/* 전체 외곽 프레임 */
.frame {border:1px solid #9abce6; background:#ffffff; overflow:hidden;}

/* 타이틀 영역 (기본) */
.titleArea {background:url(./images/bg_title.gif) repeat-x; height:24px; line-height:25px; overflow:hidden; padding:0px 4px 0px 7px; color:#1a4595; font-size:12px; font-weight:bold; border-bottom:1px solid #9abce6;}

/* 접속자수 영역 */
.userCount {}

/* 상단버튼 */
.titleArea DIV {background-image:url(./images/btn_top.gif); background-repeat:no-repeat; width:15px; height:15px; float:right; cursor:pointer; margin-top:4px;}
.titleArea DIV.mouseover {background-position-x:-15px;}
.toggleUserList {} /* 세로/가로형태에 따라 버튼아이콘이 다르므로 세로/가로형태 정의에 정의 */
.toggleUserInfo {background-position:0px -60px; margin-right:1px;}

/* 닉네임영역 관련 */
.user {cursor:pointer; font-weight:bold;}
.user IMG {vertical-align:middle; margin-right:2px;}

/* 유저목록 */
.userList {background:#ffffff; position:absolute; z-index:1;}
.userList SPAN {display:block; margin:1px; border:1px solid #FFFFFF; padding:2px 0px 2px 2px; background-repeat:no-repeat; background-position:2px center; cursor:pointer; font-weight:normal; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.userList SPAN.mouseover {border:1px solid #E5E5E5; background-color:#F4F4F4; }

/* 채팅영역 (기본) */
.chatArea {padding:3px 0px 3px 0px; overflow-y:scroll; -ms-word-break:break-all; word-wrap:break-word; -ms-user-select:auto; -moz-user-select:auto; -webkit-user-select:auto;}
.chatArea DIV {margin:1px; padding:2px 3px; line-height:1.4; -ms-user-select:auto; -moz-user-select:auto; -webkit-user-select:auto;}
.chatArea SPAN {-ms-user-select:auto; -moz-user-select:auto; -webkit-user-select:auto;}
.chatArea B {-ms-user-select:auto; -moz-user-select:auto; -webkit-user-select:auto;}
.chatArea I {-ms-user-select:auto; -moz-user-select:auto; -webkit-user-select:auto;}
.chatArea U {-ms-user-select:auto; -moz-user-select:auto; -webkit-user-select:auto;}
.chatArea DIV.mymessage {background:#f4f4f4;}
.chatArea DIV.system {color:green;}
.chatArea DIV.error {color:red;}
.chatArea DIV.broadcast {color:blue;}
.chatArea DIV.broadcast A {color:blue !important;}
.chatArea DIV.plugin {color:purple;}
.chatArea DIV.chat {color:black;}
.chatArea DIV.whisper {color:#ff00ff !important;}
.chatArea DIV.log {color:gray !important;}
.chatArea DIV.logEnd {background:url(./images/bar.gif) repeat-x center; text-align:center; padding:0px; margin:0px; font-size:0px;}
.chatArea DIV.logEnd DIV {background:white; display:inline-block; height:13px; line-height:13px; font-size:10px; font-family:tahoma; color:#666666; padding:0px 5px 0px 5px; margin:0px 5px 0px 5px !important;}
.chatArea SPAN.body {}
.chatArea SPAN.time {font-family:tahoma; font-size:10px !important; color:skyblue !important;}

/* 액션박스영역 (기본) */
.actionArea {border-top:1px solid #9abce6;}
.actionArea .toolArea {padding-left:2px; height:26px; background:url(./images/bg_tool.gif) repeat-x; border-bottom:1px solid #9abce6;}
.actionArea .inputArea {font-size:0px;}
.actionArea .inputArea .inputText {display:inline-block; padding:0px 3px; margin:3px; border:1px solid #C9C9C9; background:url(./images/bg_input.gif) repeat-x 0; height:20px; outline:none; line-height:20px; vertical-align:middle; -ms-user-select:auto; -moz-user-select:auto; -webkit-user-select:auto;}
.actionArea .inputArea .inputText:focus {border:1px solid #9abce6;}
.actionArea .inputArea .inputButton {display:inline-block; cursor:pointer; width:22px; height:22px; border:0px; background-image:url(./images/btn_submit.gif); background-repeat:no-repeat; background-position:0 0; vertical-align:middle; margin-right:3px; outline:none;}
.actionArea .inputArea .inputButton:hover {background-position:0 -22px;}

/* 툴버튼 디자인 */
.toolArea .toolSeparator {width:7px; height:22px; background:url(./images/bar_tool.gif) no-repeat 50% 50%; float:left;}
.toolArea .toolButton {padding:0px 0px 0px 3px; margin:2px 1px 0px 0px; height:22px; cursor:pointer; float:left; border:0px; outline:none; background:transparent;}
.toolArea .toolButton .toolButtonInner {height:22px; padding-right:3px; line-height:22px; overflow:hidden;}
.toolArea .toolButton .toolButtonIcon {display:inline-block; width:16px; height:16px; background-repeat:no-repeat; background-position:50% 50%; background-color:transparent; vertical-align:middle;}
.toolArea .toolButton .toolButtonText {padding:0px 2px 0px 2px; display:inline-block; height:16px; line-height:18px; color:#666666; overflow:hidden; vertical-align:middle;}
.toolArea .toolButtonMore {background:url(./images/btn_more.gif) no-repeat 0 0; width:16px; height:22px; float:right; cursor:pointer; margin:2px 2px 0px 0px;}
.toolArea DIV.mouseover {background-position-y:-22px;}
.toolArea DIV.selected {background-position-y:-44px !important;}
.toolArea DIV.disabled {opacity:0.5; -webkit-filter:grayscale(100%); -moz-filter:grayscale(100%); -ms-filter:grayscale(100%); -o-filter:grayscale(100%); filter:grayscale(100%); filter:gray;}

.toolArea BUTTON.mouseover {background:url(./images/btn_tool.gif) no-repeat 0 0;}
.toolArea BUTTON.mouseover .toolButtonInner {background:url(./images/btn_tool.gif) no-repeat 100% 0;}
.toolArea BUTTON.selected {background:url(./images/btn_tool.gif) no-repeat 0 100%;}
.toolArea BUTTON.selected .toolButtonInner {background:url(./images/btn_tool.gif) no-repeat 100% 100%;}
.toolArea BUTTON.disabled {opacity:0.5; -webkit-filter:grayscale(100%); -moz-filter:grayscale(100%); -ms-filter:grayscale(100%); -o-filter:grayscale(100%); filter:grayscale(100%); filter:gray;}

/* 툴버튼 목록 */
.toolListLayer {position:absolute; z-index:101; width:140px; bottom:55px; right:2px; background:#F0F0F0; border:1px solid #718BB7; display:none;}
.toolListLayer .toolList {cursor:pointer; border:1px solid #F0F0F0; background:#F0F0F0; margin:1px; padding:2px 3px 2px 3px;}
.toolListLayer .toolList .toolListIcon {display:inline-block; width:16px; height:16px; background-repeat:no-repeat; background-position:50% 50%; background-color:transparent; vertical-align:middle;}
.toolListLayer .toolList .toolListText {padding:0px 2px 0px 4px; display:inline-block; width:100px; height:16px; line-height:18px; color:#666666; overflow:hidden; vertical-align:middle; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.toolListLayer DIV.mouseover {border:1px solid #AACCF6; background:url(./images/btn_toollist.gif) repeat-x top; margin:1px; padding:2px 3px 2px 3px;}
.toolListLayer DIV.selected {border:1px solid #AACCF6; background:url(./images/btn_toollist.gif) repeat-x bottom; margin:1px; padding:2px 3px 2px 3px;}

/* 툴버튼 레이어 */
.toolEmoticonLayer {position:absolute; z-index:10; left:0px; bottom:55px; border:1px solid #9abce6; background:#ffffff; display:none; overflow:hidden;}
.toolEmoticonLayer .toolEmoticonLayerTab {height:25px; font-size:0px; background:url(./images/tab_emoticon.gif) repeat-x top;}
.toolEmoticonLayer .toolEmoticonLayerTab DIV.left {display:inline-block; width:15px; height:25px; background:url(./images/tab_emoticon_more.gif) no-repeat 0 0; cursor:pointer; border:0px; vertical-align:top;}
.toolEmoticonLayer .toolEmoticonLayerTab DIV.left:HOVER {background-position:0px -25px;}
.toolEmoticonLayer .toolEmoticonLayerTab DIV.right {display:inline-block; width:15px; height:25px; background:url(./images/tab_emoticon_more.gif) no-repeat -15px 0; cursor:pointer; border:0px; vertical-align:top;}
.toolEmoticonLayer .toolEmoticonLayerTab DIV.right:HOVER {background-position:-15px -25px;}
.toolEmoticonLayer .toolEmoticonLayerTabList {display:inline-block; height:25px; overflow:hidden; white-space:nowrap; vertical-align:top;}
.toolEmoticonLayer .toolEmoticonLayerTabList DIV {width:45px; height:24px; line-height:24px; text-align:center; overflow:hidden; cursor:pointer; border-right:1px solid #cccccc; display:inline-block;}
.toolEmoticonLayer .toolEmoticonLayerTabList DIV.selected {height:25px; background:#ffffff;}
.toolEmoticonLayer .toolEmoticonLayerTabList DIV.first {}
.toolEmoticonLayer .toolEmoticonLayerTabList DIV.last {border-right:0px;}
.toolEmoticonLayer .toolEmoticonLayerTabList IMG {vertical-align:middle; max-width:40px; max-height:20px;}
.toolEmoticonLayer .toolEmoticonLayerList {overflow-y:scroll;}
.toolEmoticonLayer .toolEmoticonLayerListTab {padding:3px;}
.toolEmoticonLayer .toolEmoticonLayerListTab DIV {display:inline-block; white-space:nowrap; max-width:160px; overflow-x:hidden; text-overflow:ellipsis; border:1px solid #ffffff; margin:1px; cursor:pointer; padding:2px;}
.toolEmoticonLayer .toolEmoticonLayerListTab DIV.image {font-size:0px;}
.toolEmoticonLayer .toolEmoticonLayerListTab DIV.image IMG {vertical-align:middle;}
.toolEmoticonLayer .toolEmoticonLayerListTab DIV.mouseover {border:1px solid #cccccc;}

.toolFontColorLayer {position:absolute; z-index:10; left:0px; bottom:55px; border:1px solid #9abce6; background:#ffffff; padding:2px; width:140px; height:28px; margin:0px; overflow:hidden; display:none;}
.toolFontColorLayer DIV {overflow:hidden; float:left; width:12px; height:12px; margin:1px; background-repeat:no-repeat; background-position:0px 0px; cursor:pointer;}
.toolFontColorLayer DIV.default {background-image:url(./images/colorbox_default.gif);}
.toolFontColorLayer DIV.color {background-image:url(./images/colorbox.gif);}

.toolFontColorLayer DIV.mouseover {background-position:0px -12px;}
.toolFontColorLayer DIV.selected {background-position:0px -24px;}

/* 세로형태 정의 */
.vertical .userList {border-bottom:1px solid #9abce6; overflow-y:scroll;}
.vertical .toggleUserListOff {background-position:0px -15px;} /* 접속자목록이 닫힌상태 */
.vertical .toggleUserListOn {background-position:0px 0px;} /* 접속자목록이 열린상태 */

/* 가로형태 정의 */
.horizontal .userList {border-left:1px solid #9abce6; overflow-y:scroll;}
.horizontal .toggleUserListOff {background-position:0px -45px;} /* 접속자목록이 닫힌상태 */
.horizontal .toggleUserListOn {background-position:0px -30px;} /* 접속자목록이 열린상태 */